{% extends 'fshablon3.twig' %}
{% block style %}
    background: url('/Final/public/images/fon.jpg') no-repeat fixed;
{% endblock %}
{% block content %}
    <div class="container">

        <div class="zagolovok">G.A.C.H.A.L.O.C.H.K.A. 2.0 - САМЫЙ ♂МУЖСКОЙ♂ САЙТ В МИРЕ!</div>
        <div class="text" id="tx0">ВОЗВРАЩЕНИЕ ЛЕГЕНДЫ! </div>
        <div class="text" id="tx1">Это новая версия величайшего ♂ГАЧИ♂-сайта.</div>
        <div class="text" id="tx2">ЗДЕСЬ и ТОЛЬКО ЗДЕСЬ тебя ждут самые ♂гачистые♂ приложения.</div>
        <div class="text" id="tx3">Тут можно </div>
        <div class="text" id="tx4">пообщаться в настоящем ♂мужском♂ чате,</div>
        <div class="text" id="tx5">посмотреть логи качалки и веб-страницы великих ♂PERFOMANCE ARTIST♂,</div>
        <div class="text" id="tx6">заполнить базу д♂AHHH♂нных ♂REAL MEN♂ов с помощью PDO и ActiveRecord</div>
        <div class="text" id="tx7">(и ещё и с помощью DataMapper и Repository). </div>
        <div class="text" id="tx8">И МНОГОЕ ДРУГОЕ! СМОТРИ НИЖЕ!!!</div>
        <div class="text" id="tx98">-|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|-</div>

        <div class="text" id="tx9">♂BACK♂end:</div>

        <div class="lab" id="c1">
            <a href="chatcode.php"><img class = "fo" width=290 height="390" src="/Final/public/images/fon11.jpg"></a>
            <div class="name">♂МУЖСКОЕ ОБЩЕНИЕ♂</div>
            <div class="desciption">Поговори по-мужски с ♂настоящими♂ мужикастыми мужиками!</div>
        </div>

        <div class="lab" id="c2">
            <a href="logs.php"><img class = "fo" width=290 height="390" src="/Final/public/images/fon12.jpg"></a>
            <div class="name">ЗАГЛЯНИ В ♂КАЧАЛКУ♂</div>
            <div class="desciption">Посети великую качалку, изучи логи посещения и личные странички ♂PERFOMANCE ARTIST♂ов!</div>
        </div>


        <div class="lab" id="c3">
            <a href="index.php"><img class = "fo" width=290 height="390" src="/Final/public/images/fon13.jpg"></a>
            <div class="name">БАЗА Д♂АНН♂ННЫХ с ActiveRecord</div>
            <div class="desciption">Заполни базу ♂кожевников♂ с помощью PDO и паттерна ActiveRecord!</div>
        </div>

        <div class="lab" id="c4">
            <a href="index2.php"><img class = "fo" width=290 height="390" src="/Final/public/images/fon14.jpg"></a>
            <div class="name">БАЗА Д♂АНН♂ННЫХ с DataMapper и Repository</div>
            <div class="desciption">Заполни базу ♂кожевников♂ с помощью PDO и паттернов DataMapper и Repository!</div>
        </div>

        <div class="text" id="tx99">-|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|-</div>
        <div class="text" id="tx100">Для любителей кл♂ass♂ики в ГАЧАЛОЧКЕ есть и старые-добрые ♂мужские♂ frontend-развлечения.</div>
        <div class="text" id="tx101">Нестареющая классика. Frontend:</div>

        <div class="text" id="tx11">В этом разделе ты сможешь</div>
        <div class="text" id="tx12">пообщаться на ♂GAY BONDAGE WEBSITE♂ с самим ♂VAN DARKHOLME♂,</div>
        <div class="text" id="tx13">наказать ♂FUCKING SLAVES♂,</div>
        <div class="text" id="tx14">взорвать огромную ♂SEMEN BOMB♂,</div>
        <div class="text" id="tx15">увидеть картины для ♂REAL MEN♂,</div>
        <div class="text" id="tx16">решить ♂АНУСОЛОМКУ♂, </div>
        <div class="text" id="tx17">и насладиться ♂МУЖСКОЙ♂ музыкой.</div>


        <div class="lab" id="c11">
            <a href="old/GachiMessenger/page.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon1.jpg"></a>
            <div class="name">Ч♂AHH♂Т С ♂VAN DARKHOLME♂</div>
            <div class="desciption">Пообщайся с великим ♂DUNGEON MASTER♂!</div>
        </div>

        <div class="lab" id="c12">
            <a href="old/GachiWhackASlave/molepage.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon2.jpg"></a>
            <div class="name">НАКАЖИ ♂СЛЭЙВА♂</div>
            <div class="desciption">УСТРОЙ ♂DOUBLE PENETRATION♂ ЭТИМ ♂FUCKING SLAVES♂!</div>
        </div>


        <div class="lab" id="c13">
            <a href="old/GachiSemenBomb/bomb.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon3.jpg"></a>
            <div class="name">ВЗОРВИ СПЕРМОБОМБУ</div>
            <div class="desciption">Затопи весь мир реками ♂CUM♂!</div>
        </div>

        <div class="lab" id="c14">
            <a href="old/GachiArtstation/artgallery.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon4.jpg"></a>
            <div class="name">ПОСМОТРИ ♂ГАЧИ♂-Г♂AHHH♂ЛЕРЕЮ</div>
            <div class="desciption">Глянь произведения ♂МУЖСКОГО♂ искусства!</div>
        </div>


        <div class="lab" id="c15">
            <a href="old/GachiThePilotsBrazzers/RefrigeratorPage.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon5.jpg"></a>
            <div class="name">РЕШИ ♂АНУСОЛОМКУ♂</div>
            <div class="desciption">Разверни все ♂LATEX GLOVE♂ в одну сторону!</div>
        </div>

        <div class="lab" id="c16">
            <a href="old/GachiRightMusicWebpack/page.html"><img class = "fo" width=290 height="390" src="/Final/public/images/fon6.jpg"></a>
            <div class="name">ПОСЛУШАЙ МУЗЫКУ</div>
            <div class="desciption">Ознакомься с ♂ПРАВИЛЬНЫМИ ВЕРСИЯМИ♂.</div>
        </div>

        <div class="text" id="tx97">-|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|-</div>



    </div>
{% endblock %}